:root {
    /* tạo 1 định danh đơn vị khi các lệnh sử dụng chỉ cần var vào 
    khi thay đổi 1 định danh này các lệnh còn lại sex tự động thay đổi theo */
    --height-header:8rem;

    /*  */
    --gap--item:4rem;
}

header{
    background-color: rgb(7, 13, 27);
    position:relative;
    /* để  */
    position: fixed;
    top: 0;
    width: 100%;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* dùng khi căn giữa  */
    height: var(--height-header);
    line-height: var(--height-header);
}

.header__right{
    display: flex;
    gap: var(--gap--item);
    align-items: center;
}

.header__right ul{
    display: flex;
    /* xoá dấu chấm trước list */
    list-style: none;
    /* xoá gạch chân */
    text-decoration: none;
    gap: var(--gap--item);
    padding: 0;
}

.header__right nav a {
    text-decoration: none;
    /* in hoa các chữ */
    text-transform: uppercase;
    color: white;
}

 

.header_phone{
    display: flex;
    align-items: center;
}


.phone_text{
    margin-left: 1.5rem;
    color: #fec544;
}

.header_phone i {
    color: white;
}

.right_dive{
    height: 1.4rem;
    width: .2rem;
    background-color: white;
}

@media screen and (max-width:1200px){
    .header__wrapper{
        flex-direction: column;

        align-items: unset;
        line-height: unset;

        justify-content: space-evenly;
    }
}

.hamburger {
    display: none;
    color: #666;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 3rem;
}

@media screen and (max-width: 992px) {
    .header__right {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .header__wrapper {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    header .container {
        max-width: unset;
    }

    header {
        background-color: #070d1b;
    }
}

.mobile_nav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #070d1b;
    border-top: 1px solid #101624;
    border-bottom: 1px solid #101624;

}

.mobile_nav ul{
    list-style: none;
    padding-left: 0;
}

.mobile_nav ul a{
    color: rgb(169, 173, 184);
    text-decoration: none;
    padding-top: 0.8rem;
    padding-bottom: .8rem;
    display: inline-block;
}
/* dùng dấu cộng vì 2 thằng này cùng cấp */
.hamburger.active + .mobile_nav{
    display: block;
}