#hero {
    height: 100vh;
    background-image: url(/public/img/hero-bg-1.jpg);

    /* display: flex;
    align-items: center;
    justify-content: center; */


    display: grid;
    place-content: center;

}

.hero__title {
    --fz:6rem;
    color: white;
    font-size: var(--fz);
}

.hero__desc {
    color: var(--clr-secondary);
    font-size: 1.8rem;

    padding: 2.2rem 0;
}

.hero__wrapper {
    text-align: center;
}

.hero__img {
    margin: 0 auto;

    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.1);
}

.title__name {
    color: var(--clr-primary);
}

.st-social-btn {
    --size: 4.4rem;

    display: inline-block;
    color: var(--clr-secondary);
    text-decoration: none;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 0 1rem;
    transition: all 0.2s linear;
    will-change: border, color;
}

.st-social-btn:hover {
    border-color: white;
    color: white;
}

@media screen and (max-width: 768px) {
    .hero__title {
        --fz:4rem;
    }

    .hero__desc {
        --fz: 1.6rem;
    }
    .desc_break{
        display: none;
    }
}