.resume__title{
    text-align: center;
    font-size: 2.4rem;
    color: var(--clr-primary);
    position: relative;
    font-weight: 500;
}
.resume__placeholder{
    font-size: 9rem;
    color: rgba(21, 27, 41, 0.5);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1;
    z-index: -1;
}


.resume__title::before {
    content: "";

    position: absolute;
    top: calc(100% + 1rem);
    left: 50%;
    transform: translateX(-50%);

    width: 17rem;
    height: 0.2rem;
    background-color: var(--clr-secondary);
}

.resume__title::after {
    content: "";
    position: absolute;
    top: calc(100% + 1rem);
    left: 50%;
    transform: translateX(-50%);

    width: 7rem;
    height: 0.2rem;
    background-color: var(--clr-primary);
}