#resume{
    padding-bottom: 100px;
    /* background-color: var(--clr-bg);
    color: var(--clr-text); */
}
.resume__title{
    text-align: center;
    font-size: 2.4rem;
    color: var(--clr-primary);
    position: relative;
    font-weight: 500;
}
.resume__placeholder{
    font-size: 9rem;
    color: rgba(21, 27, 41, 0.5);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1;
    z-index: -1;
}


.resume__title::before {
    content: "";

    position: absolute;
    top: calc(100% + 1rem);
    left: 50%;
    transform: translateX(-50%);

    width: 17rem;
    height: 0.2rem;
    background-color: var(--clr-secondary);
}

.resume__title::after {
    content: "";
    position: absolute;
    top: calc(100% + 1rem);
    left: 50%;
    transform: translateX(-50%);

    width: 7rem;
    height: 0.2rem;
    background-color: var(--clr-primary);
}


.resume_contents{
    padding-bottom: 70px;
}
.resume_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr); ;
    /* justify-items: center; */
    align-items: center;
}

.experience_tittle, .education_tittle{
    display: flex;
    justify-items: center;
    align-items:center;
    gap: 30px;
}

.experience_contents,.education_contents{
    padding-left: 50px;
}

.experience_tittle i, .education_tittle i{
    color: #393F4C;
    font-size: 30px;
}
.experience_tittle h1, .education_tittle h1{
    color: white;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 450;
}

.experience_contents h2,.education_contents h2{
    color: var(--clr-primary);
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 10px;
}

.experience_contents h3,.education_contents h3{
    color: white;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;   
}

.experience_contents h4, .education_contents h4{
    color: var(--clr-secondary);
    font-weight: 400;
}

.experience_contents p, .education_contents p{
    color: var(--clr-secondary);
    font-weight: 400;
}   