#activities{
    padding-top: 50px;
    padding-bottom: 50px;
}
.activities_wrapper {
    display: flex;
    justify-content: space-between;
}
.activities_title{
    width: 50%;
}

.activities_title h1{
    margin: 0;
    font-size: 40px;
    font-weight: 700;
}

.activities_title p{
    color: #858585;
}

.activities_title button{
    margin-top: 10px;
    font-size: 15px;
    padding: 15px;
    color: #022246;
    background-color:#FDC82B;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}
.activities_img{
    text-align: center;
    margin-left: 40px;
    padding-left: 100px 
}