#application{
    padding-top: 100px;
    padding-bottom: 100px;
}

.application_showcase{
    display: grid;

    /* level 4 */
    grid-template-columns: repeat(4, 1fr);
    /* kết hợp với pixel
    grid-template-columns: repeat(3, 1fr) 100px; */

    /* gap dọc ngang
    gap: 2rem 3rem */
    gap: 3rem;
}

.application_item{
    text-align: center;
    padding: 40px;
    background-color: #002146;
    color: white;
}

.application_item i{
    font-size: 45px;
    margin: 0;
}

.application_item p{
    font-size: 20px;
    margin: 0;
    padding-top: 10px;
    font-weight: 300;
}

