.footer_contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_contents{
    padding-top: 20px;
    font-size: 17px;
    
}
.footer_list ul{
    display: flex;
    gap: 40px;
}

.footer_list ul li{
    list-style: none;
    font-size: 14PX;
}
.Copyright{
    font-size: 15PX;
    color: #7F8C8D;
    padding-bottom: 50px;
}

.footer_wrapper{
    border-top: 2px solid #F5F7F8;
}

@media screen and (max-width:768px){
    .footer_wrapper{
        padding-left: 10px;
    }
    .footer_contents{
        display: block;
    }

    .footer_list ul{
        display: block;
        padding: 0;
    }
}
